<div class="container search-bar mt-5">
        <form class="position-relative">
            <input class="form-control bg-dark text-white me-2" id="cityname" type="search" placeholder="Enter your city name..." aria-label="Search">
            <button class="btn search-btn btn-primary" id="btn" type="submit">Search</button>
        </form>
    </div>